/.git

/bootstrap/cache/*
/node_modules

/public/css
/public/js
/public/images
/public/fonts
/public/storage
/public/mix-manifest.json
/public/hot
/public/build

/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/framework/config.php
/storage/framework/routes.php
/storage/framework/schedule-*
/storage/framework/compiled.php
/storage/framework/services.json
/storage/framework/events.scanned.php
/storage/framework/routes.scanned.php
/storage/framework/down
/storage/compiled-views
/storage/logs/*

/vendor
/.dockerignore
/.editorconfig
/.vscode/
/.gitattributes
/.gitignore
/.env*
!/.env.example
/docker-compose.yaml
/Dockerfile
/Dockerfile.dev
/README.md
/dev.sh
/.wrangler
/dist
